[mysqld]
# Allow connections from any IP address (not recommended for production)
bind-address = 0.0.0.0

# Other MySQL configurations can be added here
# For example:
# port = 3306
# max_connections = 100
# character_set_server = utf8mb4
# collation_server = utf8mb4_unicode_ci
